CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

CONFIG_NRF_GRTC_START_SYSCOUNTER=y

CONFIG_NRFX_TIMER0=n
CONFIG_NRFX_TIMER10=y

CONFIG_SHELL_BACKEND_SERIAL=n



# Noke stuff
CONFIG_NOKE_HEARTBEAT=y
CONFIG_NOKE_LEDS=y
CONFIG_NOKE_BUZZER=y
CONFIG_NOKE_MOTOR=y
CONFIG_NOKE_HALL=y
CONFIG_NOKE_TAMPER=y
CONFIG_NOKE_ADC=y
CONFIG_NOKE_ACCEL=y

CONFIG_SERIAL=y
CONFIG_NOKE_UART_IPC=y

# Gives shell command interface for debug
CONFIG_I2C_SHELL=n